@{
    ViewData["Title"] = "Constancia1";
}



       
            <div class="card card-primary">

                <div class="card-body">
                    <p>
                        <img src="/img/Constancia1.png" width="554" height="113" alt="Imagen">
                    </p>
                    <p>&nbsp;</p>
                    <p style="text-align: center;"><u>C O N S T A N C I A</u></p>
                    <p>&nbsp;</p>
                    <p style="text-align: justify;">
                        La suscrita Directora de Proyecto Mirador Honduras LLC (La Organización),
                        hace constar que: El ciudadano XXX, mayor de edad, unión libre, Maestro de educación primaria con número de identidad,
                        <strong>0000-000-000</strong> y con domicilio en el municipio de Santa Ana, Departamento de la Paz, Presto sus servicios a <strong>PROYECTO MIRADOR </strong>
                        desde el 03 de Mayo de 2022 hasta el 31 de Mayo del 2023.
                    </p>
                    <p>&nbsp;</p>
                    <p>Y para los fines que el interesado estime conveniente se extiende la presente en la ciudad de Santa Bárbara, a los 02 día del mes de Febrero del año 2024.</p>
                    <p>&nbsp;</p>
                    <p style="text-align: center;">____________________________</p>
                    <p style="text-align: center;"><strong>Emilia Gir&oacute;n de Mendoza</strong></p>
                    <p style="text-align: center;"><strong>Directora de Proyecto Mirador LLC (La Organización)</strong></p>
                    <p style="text-align: center;"><strong>Honduras.</strong></p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p><br></p>
                    <p><br></p>
                </div>

            </div>




