@model PlanillaPM.ViewModel.CreateUsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Editar Usuario</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input asp-for="EmailConfirmed" class="form-check-input" />
        <label asp-for="EmailConfirmed" class="form-check-label"></label>
    </div>

    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <div class="form-check mb-3">
        <input asp-for="TwoFactorEnabled" class="form-check-input" />
        <label asp-for="TwoFactorEnabled" class="form-check-label"></label>
    </div>

   @*  <div class="mb-3">
        <label asp-for="IdUnidad" class="form-label"></label>
        <select asp-for="IdUnidad"
                asp-items="Model.UnidadesSelect"
                class="form-select">
            <option value="">-- Selecciona unidad --</option>
        </select>
        <span asp-validation-for="IdUnidad" class="text-danger"></span>
    </div> *@


    <div class="mb-3">
        <label asp-for="NombreCompleto" class="form-label"></label>
        <input asp-for="NombreCompleto" class="form-control" />
    </div>

   @*  <div class="form-check mb-3">
        <input asp-for="CargaTrabajo" class="form-check-input" />
        <label asp-for="CargaTrabajo" class="form-check-label"></label>
    </div> *@
    <div class="input-group mb-3">
        <input asp-for="Password" id="Password" type="password" class="form-control" autocomplete="new-password" placeholder="Password" oninput="validatePassword(this.value)">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                <i class="fas fa-eye"></i>
            </button>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
