@model PlanillaPM.ViewModel.CreateUsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewData["mensaje"] != null)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            toastr.error('@Html.Raw(ViewData["mensaje"])');
        });
    </script>

}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Crear Usuario</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input asp-for="EmailConfirmed" class="form-check-input" />
        <label asp-for="EmailConfirmed" class="form-check-label"></label>
    </div>

    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label" ></label>
                            <input asp-for="PhoneNumber" class="form-control" data-inputmask='"mask": "(999) 9999-9999"' data-mask />
    </div>

    <div class="form-check mb-3">
        <input asp-for="TwoFactorEnabled" class="form-check-input" />
        <label asp-for="TwoFactorEnabled" class="form-check-label"></label>
    </div>


    <div class="mb-3">
        <label asp-for="NombreCompleto" class="form-label"></label>
        <input asp-for="NombreCompleto" class="form-control" />
    </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                        <div class="input-group mb-3">                         
                            <input asp-for="Password" id="Password" type="password" class="form-control" autocomplete="new-password" placeholder="Password" oninput="validatePassword(this.value)">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                            <ul>
                                <li id="minLength"><i class="fas fa-times text-danger"></i> Mínimo 8 caracteres</li>
                                <li id="uppercase"><i class="fas fa-times text-danger"></i> Al menos una letra mayuscula</li>
                                <li id="lowercase"><i class="fas fa-times text-danger"></i> Al menos una letra minúscula</li>
                                <li id="symbol"><i class="fas fa-times text-danger"></i> Al menos un simbolo ($!%*?&)</li>
                                <li id="number"><i class="fas fa-times text-danger"></i> Al menos una numero</li>
                            </ul>
                        </div>
                        <span id="errorMessage" class="font-weight-bold text-danger"></span>

                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">Confirmar Password</label>
                            <div class="input-group mb-3">
                                <input asp-for="ConfirmPassword" id="ConfirmPassword" type="password" class="form-control" autocomplete="new-password" placeholder="Retype password" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="toggleConfirmPassword">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <br />

    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                        <a asp-action="IndexUsuario" class="btn btn-secondary">Cancelar</a>
</form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
     document.addEventListener("DOMContentLoaded", function () {
         //username
        const userNameInput = document.getElementById("UserName");

       userNameInput.addEventListener("input", function () {
           const value = this.value;
           const regex = /^[a-zA-Z0-9]*$/; // Solo letras y números

           const validationSpan = document.querySelector("span[data-valmsg-for='UserName']");

           if (!regex.test(value)) {
               validationSpan.textContent = "El nombre de usuario solo puede contener letras y números (sin espacios).";
               validationSpan.classList.add("text-danger");
           } else {
               validationSpan.textContent = "";
               validationSpan.classList.remove("text-danger");
           }
       });




         ///pasword
         const togglePassword = document.getElementById("togglePassword");
         const passwordInput = document.getElementById("Password");

         const confirmPasswordInput = document.getElementById("ConfirmPassword");
       const toggleConfirmPassword = document.getElementById("toggleConfirmPassword");

         togglePassword.addEventListener("click", function () {
             const icon = this.querySelector("i");

             if (passwordInput.type === "password") {
                 passwordInput.type = "text";
                 icon.classList.remove("fa-eye");
                 icon.classList.add("fa-eye-slash");
             } else {
                 passwordInput.type = "password";
                 icon.classList.remove("fa-eye-slash");
                 icon.classList.add("fa-eye");
             }
           
         });

        toggleConfirmPassword.addEventListener("click", function () {
           const icon = this.querySelector("i");
           if (confirmPasswordInput.type === "password") {
               confirmPasswordInput.type = "text";
               icon.classList.remove("fa-eye");
               icon.classList.add("fa-eye-slash");
           } else {
               confirmPasswordInput.type = "password";
               icon.classList.remove("fa-eye-slash");
               icon.classList.add("fa-eye");
           }
       });
     });



        function validatePassword(password) {
            const strongPasswordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!%*?&])[A-Za-z\d$!%*?&]{8,}$/;
            const errorMessage = document.getElementById('errorMessage');

            document.getElementById('minLength').innerHTML =
                password.length >= 8 ?
                    '<i class="fas fa-check text-success"></i> Mínimo 8 caracteres' :
                    '<i class="fas fa-times text-danger"></i> Mínimo 8 caracteres';
            document.getElementById('uppercase').innerHTML =
                /[A-Z]/.test(password) ?
                    '<i class="fas fa-check text-success"></i> Al menos una letra mayuscula' :
                    '<i class="fas fa-times text-danger"></i> Al menos una letra mayuscula';
            document.getElementById('lowercase').innerHTML =
                /[a-z]/.test(password) ?
                    '<i class="fas fa-check text-success"></i> Al menos una letra minúscula' :
                    '<i class="fas fa-times text-danger"></i> Al menos una letra minúscula';
            document.getElementById('symbol').innerHTML =
                /[$!%*?&]/.test(password) ?
                    '<i class="fas fa-check text-success"></i> Al menos un simbolo ($!%*?&)' :
                    '<i class="fas fa-times text-danger"></i> Al menos un simbolo ($!%*?&)';
            document.getElementById('number').innerHTML =
                /\d/.test(password) ?
                    '<i class="fas fa-check text-success"></i> Al menos una numero' :
                    '<i class="fas fa-times text-danger"></i> Al menos una numero';

            if (strongPasswordRegex.test(password)) {
                errorMessage.textContent = 'Contraseña segura';
                errorMessage.classList.remove('text-danger');
                errorMessage.classList.add('text-success');
            } else {
                errorMessage.textContent = 'Contraseña debil';
                errorMessage.classList.remove('text-success');
                errorMessage.classList.add('text-danger');
            }
        }

        function validateForm() {
            const password = document.getElementById("Password").value;
            const strongPasswordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!%*?&])[A-Za-z\d$!%*?&]{8,}$/;
            if (!strongPasswordRegex.test(password)) {
                toastr.error("Asegúrese de que su contraseña cumpla con todos los criterios.");
                return false;
            }
            return true;
        }



</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
