<h2>Revisa tu correo electrónico</h2>
<p>Hemos enviado un enlace a tu dirección de correo electrónico para restablecer tu contraseña. Por favor, sigue las instrucciones en el correo electrónico.</p>
<p><a href="/Usuario/Login">Volver a la página de inicio de sesión</a></p>
