
@using PlanillaPM.Models;
@model Registro

@{
    ViewData["Title"] = "Registro";
}
@if (ViewData["mensaje"] != null)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            toastr.error('@Html.Raw(ViewData["mensaje"])');
        });
    </script>

}

<h1>Regístrate</h1>

<div class="card">
    <div class="card-body register-card-body">
        <p class="login-box-msg">Registrar Nuevo Usuario</p>

        <form asp-action="Registro" onsubmit="return validateForm()">
            <div class="input-group mb-3">
                <input asp-for="Email" type="email" class="form-control" placeholder="Email" autocomplete="email">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input asp-for="PhoneNumber" class="form-control" placeholder="Número de teléfono" autocomplete="tel" data-inputmask='"mask": "(999) 9999-9999"' data-mask />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-phone"></span>
                    </div>
                </div>
            </div>
            
            <div class="input-group mb-3">
                <input asp-for="Password" id="Password" type="password" class="form-control" autocomplete="new-password" placeholder="Password" oninput="validatePassword(this.value)">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <ul>
                    <li id="minLength"><i class="fas fa-times text-danger"></i> Mínimo 8 caracteres</li>
                    <li id="uppercase"><i class="fas fa-times text-danger"></i> Al menos una letra mayuscula</li>
                    <li id="lowercase"><i class="fas fa-times text-danger"></i> Al menos una letra minúscula</li>
                    <li id="symbol"><i class="fas fa-times text-danger"></i> Al menos un simbolo ($!%*?&)</li>
                    <li id="number"><i class="fas fa-times text-danger"></i> Al menos una numero</li>
                </ul>
            </div>
            <span id="errorMessage" class="font-weight-bold text-danger"></span>

            <div class="input-group mb-3">
                <input asp-for="RetypePassword" id="RetypePassword" type="password" class="form-control" autocomplete="new-password" placeholder="Retype password" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                   
                </div>
                <!-- /.col -->
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <div class="social-auth-links text-center">
          
            <a class="btn btn-block btn-secondary" asp-action="LoginExterno" asp-route-proveedor="Microsoft">
                <i class="fab fa-windows mr-2"></i> Iniciar sesión con Microsoft
            </a>
            <a class="btn btn-block btn-secondary" asp-action="LoginExterno" asp-route-proveedor="">
                <i class="fab fa-google-plus mr-2"></i>
                Regístrate usando Google+
            </a>
        </div>

        <a class="text-center" asp-action="login">Deseo Loguearme</a>
    </div>
    <!-- /.form-box -->
</div><!-- /.card -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById('togglePassword').addEventListener('click', function () {
            const passwordInput = document.getElementById('Password');
            const icon = this.querySelector('i');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        });

        function validatePassword(password) {
            const strongPasswordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!%*?&])[A-Za-z\d$!%*?&]{8,}$/;
            const errorMessage = document.getElementById('errorMessage');

            document.getElementById('minLength').innerHTML =
                password.length >= 8 ?
                    '<i class="fas fa-check text-success"></i> Mínimo 8 caracteres' :
                    '<i class="fas fa-times text-danger"></i> Mínimo 8 caracteres';
            document.getElementById('uppercase').innerHTML =
                /[A-Z]/.test(password) ?
                    '<i class="fas fa-check text-success"></i> Al menos una letra mayuscula' :
                    '<i class="fas fa-times text-danger"></i> Al menos una letra mayuscula';
            document.getElementById('lowercase').innerHTML =
                /[a-z]/.test(password) ?
                    '<i class="fas fa-check text-success"></i> Al menos una letra minúscula' :
                    '<i class="fas fa-times text-danger"></i> Al menos una letra minúscula';
            document.getElementById('symbol').innerHTML =
                /[$!%*?&]/.test(password) ?
                    '<i class="fas fa-check text-success"></i> Al menos un simbolo ($!%*?&)' :
                    '<i class="fas fa-times text-danger"></i> Al menos un simbolo ($!%*?&)';
            document.getElementById('number').innerHTML =
                /\d/.test(password) ?
                    '<i class="fas fa-check text-success"></i> Al menos una numero' :
                    '<i class="fas fa-times text-danger"></i> Al menos una numero';

            if (strongPasswordRegex.test(password)) {
                errorMessage.textContent = 'Contraseña segura';
                errorMessage.classList.remove('text-danger');
                errorMessage.classList.add('text-success');
            } else {
                errorMessage.textContent = 'Contraseña debil';
                errorMessage.classList.remove('text-success');
                errorMessage.classList.add('text-danger');
            }
        }

        function validateForm() {
            const password = document.getElementById("Password").value;
            const strongPasswordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!%*?&])[A-Za-z\d$!%*?&]{8,}$/;
            if (!strongPasswordRegex.test(password)) {
                toastr.error("Asegúrese de que su contraseña cumpla con todos los criterios.");
                return false;
            }
            return true;
        }
    </script>
}