
<div>
    <h1>Registrarse Confirmación</h1>
    <p>Gracias por registrarte. Por favor, revise su correo electrónico para confirmar su dirección de correo electrónico.</p>

    <!-- Agrega un enlace para volver a la página de inicio de sesión -->
    <p><a href="/Usuario/Login">Volver a la página de inicio de sesión</a></p>

    <!-- Agrega un enlace para abrir Gmail (asegúrate de reemplazar la URL con la correcta) -->
    <p><a href="https://mail.google.com/">Abrir Gmail</a></p>
</div>