    @using PlanillaPM.ViewModel;
@model ResetPasswordViewModel

<h3>Restablecer contraseña</h3>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}


<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Ingresa la nueva contraseña</p>
        <form asp-action="ResetPassword">
            <input type="hidden" asp-for="Code" />
            <div class="input-group mb-3">
                <input asp-for="Email" type="email" class="form-control" placeholder="Correo Electrónico" readonly="@Model.IsEmailConfirmed" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <input asp-for="Password" type="password" class="form-control" placeholder="Contraseña" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirmar Contraseña" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">Restablecer Contraseña</button>
                </div>
            </div>
        </form>
    </div>
</div>
