@model PlanillaPM.Models.EmpleadoIngreso

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Crear Empleado Pagos</h3>
        </div>
         <form asp-action="Create">
        <div class="card-body">
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                <h5>Información General</h5>
                <br/>
                <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="IdEmpleado" class="control-label"></label>
                                <select asp-for="IdEmpleado" class="form-control select2bs4 is-invalid" asp-items="ViewBag.IdEmpleado">
                                    <option></option>
                                </select>
                            </div>
                                                      
                            <div class="form-group">
                                <label asp-for="Monto" class="control-label"></label>
                                <input asp-for="Monto" id="MontoIngreso" class="form-control" type="number" />
                                <span asp-validation-for="Monto" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Formula" class="control-label"></label>
                                <input asp-for="Formula" id="FormulaIngreso" class="form-control" type="number" />
                                <span asp-validation-for="Formula" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="form-group">
                                <label asp-for="IdIngreso" class="control-label"></label>
                                <select asp-for="IdIngreso" class="form-control select2bs4 is-invalid" asp-items="ViewBag.IdIngreso">
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Tipo" class="control-label"></label>
                                <select asp-for="Tipo" id="TipoIngreso" class="form-control is-invalid" asp-items="@(new SelectList(ViewBag.TipoEstado, "Value", "Text"))">
                                    <option value="">Seleccione un estado</option>
                                </select>
                                <span asp-validation-for="Tipo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                               @*  <label asp-for="Orden" class="control-label"></label>
                                <input asp-for="Orden" id="OrdenIngreso" class="form-control" type="number" required />
                                <span asp-validation-for="Orden" class="text-danger"></span> *@
                                <input asp-for="Orden" type="hidden" id="OrdenIngreso" value="@ViewBag.NextOrden" readonly />
                            </div>
                        </div>                           
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Crear" class="btn btn-primary" style="background-color: var(--blue);" />
                <a onclick="goBack()" class="btn btn-secondary">Regresar a la Lista</a>
         </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>          
            function goBack() {
                // Obtener la URL actual
                var currentUrl = window.location.href;

                // Verificar si la URL contiene "_index"
                if (currentUrl.includes("_index")) {
                    // Estás en la página _index, puedes hacer algo específico aquí
                    console.log("Estás en la página _index");
                    // Por ejemplo, redirigir a otra página
                    window.location.href = "/otra-pagina";
                } else {
                    // No estás en la página _index, retrocede en la historia
                    history.back();
                }
            }

            $(document).ready(function () {
                $('#IdIngreso').change(function () {
                    var idIngreso = $(this).val();
                    if (idIngreso) {
                        $.ajax({
                            url: '@Url.Action("GetIngresoDetails", "EmpleadoIngreso")',
                            type: 'GET',
                            data: { id: idIngreso },
                            success: function (data) {
                                if (data.error) {
                                    alert(data.error);
                                } else {
                                    console.log(data);
                                    $('#MontoIngreso').val(data.montoIngreso);
                                    $('#FormulaIngreso').val(data.formulaIngreso);
                                    $('#OrdenIngreso').val(data.ordenIngreso);
                                    $('#TipoIngreso').val(data.tipoIngreso);

                                }
                            },
                            error: function () {
                                alert('Error obteniendo los detalles del ingreso');
                            }
                        });
                    } else {
                        $('#MontoIngreso').val('');
                        $('#FormulaIngreso').val('');
                        $('#OrdenIngreso').val('');
                        $('#TipoIngreso').val(''); // Reset the Tipo field
                    }
                });
            });

            // Asegúrate de activar el select2 después de cargar la página
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
        </script>
    }
}

