
@{
    ViewData["Title"] = "Constancia1";
    var nombre = ViewData["Nombre"];
    var identidad = ViewData["Identidad"];
}

        <p>
            <div style="text-align: center;">
                <img src="/img/Constancia1.png" width="754" height="113" alt="Imagen">
            </div>

        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p style="text-align: center; font-size: 25px;"><u>C O N S T A N C I A</u></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p style="text-align: justify; font-size: 25px;">
            La suscrita Directora de Proyecto Mirador Honduras LLC (La Organización),
    hace constar que: El ciudadano  <strong> @nombre</strong>, mayor de edad, unión libre, Maestro de educación primaria con número de identidad,
            <strong> @identidad</strong> y con domicilio en el municipio de Santa Ana, Departamento de la Paz, Presto sus servicios a <strong>PROYECTO MIRADOR </strong>
            desde el 03 de Mayo de 2022 hasta el 31 de Mayo del 2023.
        </p>
        <p>&nbsp;</p>
        <p style="text-align: justify; font-size: 25px;">
            Y para los fines que el interesado estime conveniente se extiende la presente en la ciudad de Santa Bárbara, a los 02 día del mes de Febrero del año 2024.
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p style="text-align: center;  font-size: 20px;">__________________________________________</p>
        <p style="text-align: center;  font-size: 20px;"><strong>Emilia Gir&oacute;n de Mendoza</strong></p>
        <p style="text-align: center; font-size: 20px;"><strong>Directora de Proyecto Mirador LLC (La Organización)</strong></p>
        <p style="text-align: center; font-size: 20px;"><strong>Honduras.</strong></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><br></p>
        <p><br></p>
 




