@{
    ViewData["Title"] = "Contrato Corto";
    var nombre = ViewData["Nombre"];
    var identidad = ViewData["Identidad"];
}

<p style="margin-top: 0pt; margin-left: 16.9pt; margin-bottom: 5.75pt; text-align: center; line-height: 108%; font-size: 17pt;"><strong>CONTRATO DE PRESTACION DE SERVICIO POR TIEMPO DETERMINADO&nbsp;</strong></p>
<p style="margin-top: 0pt; margin-left: 0.5pt; margin-bottom: 0.05pt; text-indent: -0.5pt; text-align: justify; font-size: 14pt;">Yo, <strong>EMILIA DOMINGA GIRON DE MENDOZA&nbsp;</strong>, perito mercantil , mayor de edad, casada, hondure&ntilde;a por naturalizaci&oacute;n con tarjeta de identidad <strong>N.0809 -2008 -02491&nbsp;</strong>, en mi condici&oacute;n de Directora Ejecutiva de PROYECTO MIRADOR LLC, Con domicilio en la ciudad de Santa B&aacute;rbara, departamento de Santa B&aacute;rbara, quien en adelante para efectos del contrato se denominara como &ldquo;EL PROYECTO&rdquo; &nbsp;y por la otra parte <strong>[Nombre_Completo]</strong>, [<strong>Profesion</strong>], <strong>[Estado_Civil]</strong>, hondure&ntilde;o, con n&uacute;mero de identidad N. <strong>[Identidad]</strong>, quien en adelante para efectos del contrato se denominara como &ldquo;EL CONTRATISTA &rdquo;, por este medio hemos convenido celebrar el presente contrato , el cual se regir&aacute; por las siguientes clausulas <strong><u>PRIMERO :</u></strong><u>&nbsp;</u>PROYECTO MIRADOR LLC, Contratara a: <strong>[Nombre_Completo]&nbsp;</strong>para que preste sus servicios en calidad de <strong>[Cargo]</strong> por un periodo de <strong>[Meses_Letras]&nbsp;</strong>meses<strong>,&nbsp;</strong>empezando el <strong>[Fecha_Inicio]</strong> y termina el <strong>[Fecha_Finalizacion].&nbsp;</strong><strong><u>SEGUNDO:</u></strong> EL PROYECTO se compromete a pagar los siguientes conceptos: <strong>a.</strong> una suma alzada de <strong>[Suma_Alzada]</strong><span style="color:#ffffff;">&nbsp;</span>(<strong>[Suma_Alzada_Letras]</strong>), el cual incluye [Meses_Letras] meses de salario correspondientes a Lps. [Total_Salario] ([Total_Salario_Letras]), Aguinaldo Lps. [Aguinaldo] ([Aguinaldo_Letras]), D&eacute;cimo cuarto Lps. [Catorceavo] ([Catorceavo_Letras]), y Vacaciones 5 d&iacute;as Lps [Vacaciones]<span style="color:#ffffff;">&nbsp;</span>([Vacaciones_Letras]). <strong><u>TERCERO :</u></strong><u>&nbsp;</u>EL PROYECTO para la cancelaci&oacute;n del pago mensual se requerir&aacute; el informe mensual de las estufas supervisadas manteniendo un promedio entre 600 y 640 estufas mensuales , pero pudiendo llegar a la mayor cantidad de estufas supervisadas cuando as&iacute; lo demande el proyecto . Tambi&eacute;n el Contratista se compromete a reparar un m&iacute;nimo de seis estufas mensuales. <strong><u>CUARTO:</u></strong><u>&nbsp;</u>EL CONTRATISTA deber&aacute; desarrollar una bit&aacute;cora de trabajo adem&aacute;s de programar su semana de trabajo como supervisor de campo en los lugares asignados y reportar a las oficinas de EL PROYECTO <strong><u>QUINTO</u></strong><strong>:&nbsp;</strong>Si por alguna raz&oacute;n el presente contrato fuere interrumpido por EL PROYECTO, este est&aacute; obligado a reconocer lo que por ley corresponde al contratista, si por el contrario fuere interrumpido con el contratista este est&aacute; enterado de las condiciones del contrato. <strong><u>SEXTO:&nbsp;</u></strong>EL CONTRATISTA se compromete a realizar sus funciones eficientemente tal y como lo estipula la Descripci&oacute;n del Puesto, El Reglamento del Proyecto Mirador y Reglamento de supervisi&oacute;n creados para este fin. <strong><u>SEPTIMO&nbsp;</u></strong>: <u>SECRETIVIDAD Y PROPIEDAD</u> <u>INTELECTUAL&nbsp;</u>; es entendido que los derechos de autor, de patentes y dem&aacute;s derechos de cualquier naturaleza correspondientes a trabajos realizados en virtud del presente contrato ,son propiedades &nbsp;del EL PROYECTO Y &nbsp;bajo ninguna circunstancia podr&aacute; utilizar para fines diferentes a los previstos en el &nbsp;contrato ninguna informaci&oacute;n que le sea conocida en raz&oacute;n de sus servicios , Salvo autorizados expresamente por EL PROYECTO , &nbsp;<strong><u>OCTAVO:&nbsp;</u></strong>Este contrato podr&aacute; darse por finaliza do mediante una notificaci&oacute;n por escrito emitida por cualquiera de las partes con la anticipaci&oacute;n contemplada en la ley &nbsp;laboral de honduras, en la cual se deber&aacute; expresar los motivos que dan por terminado el contrato sin &nbsp;responsabilidad para ninguna de las partes m&aacute;s que las estipuladas en la cl&aacute;usula quinta de este &nbsp;contrato. &nbsp;<strong><u>NOVENO</u></strong>: El PROYECTO dotara de las herramientas necesarias al contratista para que pueda realizar eficientemente su trabajo, esto no comprende dotar de medios de trasporte como veh&iacute;culo o motocicleta. En fe de lo anterior firmamos el presente contrato en la Ciudad de Santa B&aacute;rbara, Departamento de Santa B&aacute;rbara el d&iacute;a <strong>[Fecha_Inicio]</strong>.<span style="color:#ffffff;">&nbsp;</span></p>
<p style="margin-top:0pt; margin-left:0.5pt; margin-bottom:0.05pt; text-indent:-0.5pt;">&nbsp;</p>
<table cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse; margin-right: calc(0%);">
    <tbody>
        <tr style="height:12.9pt;">
            <td style="width: 48.31%; vertical-align: top; text-align: center;" class="fr-cell-fixed ">
                <p style="margin-top:30pt; margin-left:10.1pt; margin-bottom:0pt; line-height:108%; font-size:14pt;">__________________________________</p>
            </td>
            <td style="width: 51.5734%; vertical-align: top; text-align: center;">
                <p style="margin-top:30pt; margin-left:10.1pt; margin-bottom:0pt; line-height:108%; font-size:14pt;">__________________________________</p>
            </td>
        </tr>
        <tr style="height:14.5pt;">
            <td style="width: 48.31%; vertical-align: top; text-align: center;">
                <p style="margin-top:0pt; margin-bottom:0pt; line-height:108%; font-size:14pt;">&nbsp; &nbsp; &nbsp; Emilia Dominga Gir&oacute;n de Mendoza</p>
            </td>
            <td style="width: 51.5734%; vertical-align: top; text-align: center;">
                <p style="margin-top:0pt; margin-left:0pt; margin-bottom:0pt; text-align:justify; line-height:108%; font-size:14pt;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>[Nombre_Completo]</strong></p>
            </td>
        </tr>
        <tr style="height:12.9pt;">
            <td style="width: 48.31%; vertical-align: top; text-align: center;">
                <p style="margin-top:0pt; margin-left:0pt; margin-bottom:0pt; line-height:108%; font-size:14pt;">Directora&nbsp;</p>
            </td>
            <td style="width: 51.5734%; vertical-align: top; text-align: center;" class="fr-cell-handler ">
                <p style="margin-top:0pt; margin-left:0pt; margin-bottom:0pt; line-height:108%; font-size:14pt;">Contratista</p>
            </td>
        </tr>
    </tbody>
</table>
