<li class="nav-item d-none d-sm-inline-block">
    <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="">
        <p><strong>Home</strong></p>
    </a>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <a asp-area="" asp-controller="Usuario" asp-action="" class="nav-link">
        <p><strong>Contact</strong></p>
    </a>
</li>
