<li class="nav-item d-none d-sm-inline-block">
    <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="PersonalData">
        <p><strong>Datos Personales</strong></p>
    </a>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <a asp-area="" asp-controller="Usuario" asp-action="Email" class="nav-link">
        <p><strong>Cambiar Correo Electrónico</strong></p>
    </a>
</li>
<li class="nav-item d-none d-sm-inline-block">
    <a asp-area="" asp-controller="Usuario" asp-action="ChangePassword" class="nav-link">
        <p><strong>Cambiar Contraseña</strong></p>
    </a>
</li>