@model PlanillaPM.Models.DiaFestivo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Crear DiaFestivo</h3>
        </div>
         <form asp-action="Create">
        <div class="card-body">
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                <h5>Información General</h5>
                <br/>
                <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="NombreDiaFestivo" class="control-label"></label>
                                <input asp-for="NombreDiaFestivo" class="form-control" required/>
                                <span asp-validation-for="NombreDiaFestivo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FechaDesde" class="control-label"></label>
                                <input asp-for="FechaDesde" class="form-control" type="date" required />
                                <span asp-validation-for="FechaDesde" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FechaHasta" class="control-label"></label>
                                <input asp-for="FechaHasta" class="form-control" type="date" required />
                                <span asp-validation-for="FechaHasta" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Color" class="control-label"></label>                              
                                <div class="input-group my-colorpicker2">
                                    <input asp-for="Color" class="form-control" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-square"></i></span>
                                    </div>
                                </div>
                                <span asp-validation-for="Color" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Crear" class="btn btn-primary" style="background-color: var(--blue);" />
            <a asp-action="Index" class="btn btn-secondary">Regresar a la Lista</a>
         </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");

    <script>

        function validarFechas() {
            var FechaDesde = new Date($("#FechaDesde").val());
            var FechaHasta = new Date($("#FechaHasta").val());

            // Verifica que ambas fechas sean válidas
            if (!FechaDesde || !FechaHasta || isNaN(FechaDesde) || isNaN(FechaHasta)) {
                toastr.error("Por favor ingresa fechas válidas.");
                return false;
            }

            if (FechaDesde > FechaHasta) {
                toastr.error("La Fecha de Fin debe ser igual o posterior a la Fecha de Inicio.");
                return false;
            }
            return true;
        }

        // Asigna la validación al evento submit del formulario
        $("form").submit(function (e) {
            if (!validarFechas() || !validarHoras()) {
                e.preventDefault();
            }
        });
    </script>
    }
}