################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pruebaTemplate/bin/Debug/net8.0
/.vs/PlanillaPM/v17/.wsuo
/pruebaTemplate/obj/Debug/net8.0/apphost.exe
/pruebaTemplate/obj/Debug/net8.0/PlanillaPM.AssemblyInfo.cs
/pruebaTemplate/obj/Debug/net8.0/PlanillaPM.AssemblyInfoInputs.cache
/pruebaTemplate/obj/Debug/net8.0/PlanillaPM.assets.cache
/pruebaTemplate/obj/Debug/net8.0/PlanillaPM.csproj.AssemblyReference.cache
/pruebaTemplate/obj/Debug/net8.0/PlanillaPM.csproj.CoreCompileInputs.cache
/pruebaTemplate/obj/Debug/net8.0/PlanillaPM.csproj.FileListAbsolute.txt
/pruebaTemplate/obj/Debug/net8.0/PlanillaPM.dll
/pruebaTemplate/obj/Debug/net8.0/PlanillaPM.GeneratedMSBuildEditorConfig.editorconfig
/pruebaTemplate/obj/Debug/net8.0/PlanillaPM.genruntimeconfig.cache
/pruebaTemplate/obj/Debug/net8.0/PlanillaPM.pdb
/pruebaTemplate/obj/Debug/net8.0/PlanillaPM.sourcelink.json
/pruebaTemplate/obj/Debug/net8.0/staticwebassets.build.json
/pruebaTemplate/obj/Debug/net8.0/staticwebassets.development.json
/pruebaTemplate/obj/Debug/net8.0/staticwebassets.pack.json
/pruebaTemplate/obj/PlanillaPM.csproj.nuget.dgspec.json
/pruebaTemplate/obj/project.assets.json
/pruebaTemplate/obj/project.nuget.cache
/pruebaTemplate.zip
/pruebaTemplate/obj/Debug/net8.0/refint/PlanillaPM.dll
/pruebaTemplate/obj/Debug/net8.0/ref/PlanillaPM.dll
/.vs/pruebaTemplate/config/applicationhost.config
/.vs/pruebaTemplate/DesignTimeBuild/.dtbcache.v2
/.vs/pruebaTemplate/FileContentIndex/354cb1de-4ae4-465d-b9ea-af9459aaaeba.vsidx
/.vs/pruebaTemplate/FileContentIndex/49245869-3194-4571-8bee-e5d02fa47333.vsidx
/.vs/ProjectEvaluation/pruebatemplate.metadata.v7.bin
/.vs/ProjectEvaluation/pruebatemplate.projects.v7.bin
*.vsidx
/.vs/pruebaTemplate/FileContentIndex/7fa98d67-8821-4ad1-9d65-3510c5d29ef9.vsidx
/.vs/pruebaTemplate/FileContentIndex/f0184adc-c271-4cd2-9ee0-1c50d463e8a7.vsidx
/.vs/pruebaTemplate/v17/.futdcache.v2
/.vs/pruebaTemplate/v17/.suo
/.vs/pruebaTemplate/v17/fileList.bin
*.json
/pruebaTemplate/PlanillaPM.csproj
/pruebaTemplate/PlanillaPM.csproj.user
/.vs/slnx.sqlite
