@model PlanillaPM.Models.Empresa

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Crear Empresa</h3>
        </div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="card-body">
                <div class="callout callout-info" style="border-left-color: var(--blue);">
                    <h5>Información General</h5>
                    <br />
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdEmpresa" />
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="NombreEmpresa" class="control-label"></label>
                                <input asp-for="NombreEmpresa" class="form-control" required />
                                <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" type="email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Direccion" class="control-label"></label>
                                <input asp-for="Direccion" class="form-control" />
                                <span asp-validation-for="Direccion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Telefono" class="control-label"></label>
                                <input asp-for="Telefono" class="form-control" type="number" required />
                                <span asp-validation-for="Telefono" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="NombreContacto" class="control-label"></label>
                                <input asp-for="NombreContacto" class="form-control" />
                                <span asp-validation-for="NombreContacto" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TelefonoContacto" class="control-label"></label>
                                <input asp-for="TelefonoContacto" class="form-control" type="number" />
                                <span asp-validation-for="TelefonoContacto" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Rtn" class="control-label"></label>
                                <input asp-for="Rtn" class="form-control" type="number" />
                                <span asp-validation-for="Rtn" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdMoneda" class="control-label"></label>
                                <select asp-for="IdMoneda" class="form-control select2bs4 is-invalid" asp-items="ViewBag.IdMoneda"></select>
                                <span asp-validation-for="IdMoneda" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="Comentarios" class="control-label"></label>
                                <input asp-for="Comentarios" rows="3" class="form-control" />
                                <span asp-validation-for="Comentarios" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check form-switch ml-4">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Activo" checked hidden /> @Html.DisplayNameFor(model => model.Activo)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="callout callout-info" style="border-left-color: var(--blue); ">
                    <h5>Logotipos</h5>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-6 d-flex align-items-center justify-content-center">
                                <div class="form-group text-center">
                                    <div id="image-drop-area" style="cursor: pointer;">
                                        <img id="profile-img" class="img-fluid img-thumbnail" src="/img/MiEmpresa.jpeg" alt="User profile picture" style="width: 250px; height: 250px; object-fit: cover;">
                                        <span class="btn btn-danger btn-circle-outline btn-sm position-absolute" style="top: 5px; right: 12px;" onclick="QuitarImagen(event)">
                                            <i class="fas fa-times"></i> <!-- Font Awesome icon for "x" -->
                                        </span>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label class="btn btn-success btn-rounded btn-block" for="avfile">Seleccionar</label>
                                            <input type="file" id="avfile" asp-for="Logo" class="btn btn-primary d-none" accept="image/*" onchange="validateImage(event)" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="callout callout-info" hidden style="border-left-color: var(--blue); ">
                    <h5>Otros</h5>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="FechaCreacion" class="control-label"></label>
                                <input type="datetime" asp-for="FechaCreacion" class="form-control" readonly />
                                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FechaModificacion" class="control-label"></label>
                                <input type="datetime" asp-for="FechaModificacion" class="form-control" readonly />
                                <span asp-validation-for="FechaModificacion" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="CreadoPor" class="control-label"></label>
                                <input asp-for="CreadoPor" class="form-control" readonly />
                                <span asp-validation-for="CreadoPor" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ModificadoPor" class="control-label"></label>
                                <input type="text" asp-for="ModificadoPor" class="form-control" readonly />
                                <span asp-validation-for="ModificadoPor" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        <div class="card-footer">
            <input type="submit" value="Crear" class="btn btn-primary" style="background-color: var(--blue);" />
            <a asp-action="Index" class="btn btn-secondary">Regresar a la Lista</a>
         </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
<script>
    window.onload = function () {
        document.getElementById('customFile').setAttribute('accept', 'image/*');
    };
            function validateImage(event) {
                console.log(event);
                var input = event.target;
                var file = input.files[0];
                var fileSize = file.size / 1024; // tamaño del archivo en kilobytes
                console.log(input);
                // Límite máximo de tamaño de archivo en kilobytes (1 MB)
                var maxSizeKB = 1024;

                if (fileSize > maxSizeKB) {
                    // Restablecer el valor del campo de entrada de archivo
                    input.value = '';
                    // Mostrar mensaje de error al usuario
                    toastr.warning('La imagen es demasiado grande. Por favor, seleccione una imagen más pequeña.');

                    return false; // Detener la carga del archivo
                }
                // Si pasa la validación, mostrar la vista previa de la imagen
                previewImage(event);
            }

            function previewImage(event) {
                var input = event.target;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function () {
                        var dataURL = reader.result;
                        var output = document.getElementById('profile-img');
                        output.src = dataURL;
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function QuitarImagen(event) {
                var output = document.getElementById('profile-img');
                var ofile = document.getElementById('avfile');
                ofile.value = '';
                output.src = "/img/MiEmpresa.jpeg";
            }
</script>
}
}
