@model PlanillaPM.Models.Nomina

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Editar Nomina</h3>
        </div>
         <form asp-action="Edit">
        <div class="card-body">
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                <h5>Información General</h5>
                <br/>
                <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdNomina" />

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="IdTipoNomina" class="control-label"></label>
                                <select asp-for="IdTipoNomina" class="form-control select2bs4 is-invalid" asp-items="ViewBag.IdTipoNomina" id="IdTipoNomina"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Comentarios" class="control-label"></label>
                                <input asp-for="Comentarios" class="form-control" required id="Comentarios" />
                                <span asp-validation-for="Comentarios" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PeriodoFiscal" class="control-label"></label>
                                <input asp-for="PeriodoFiscal" class="form-control" type="number" required id="PeriodoFiscal" />
                                <span asp-validation-for="PeriodoFiscal" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Mes" class="control-label"></label>
                                <input asp-for="Mes" class="form-control" type="number" required id="Mes" />
                                <span asp-validation-for="Mes" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FechaPago" class="control-label"></label>
                                <input asp-for="FechaPago" class="form-control" type="date" required id="FechaPago" />
                                <span asp-validation-for="FechaPago" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TotalIngresos" class="control-label"></label>
                                <input asp-for="TotalIngresos" class="form-control" type="number" readonly required />
                                <span asp-validation-for="TotalIngresos" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EstadoNomina">Estado:</label>
                                @Html.DropDownListFor(model => model.EstadoNomina, new SelectList(ViewBag.NominaEstado), "Seleccione un estado", new { @class = "form-control select2bs4 is-invalid", @disabled = "disabled", id = "EstadoNomina" })
                                <span asp-validation-for="EstadoNomina" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check form-switch ml-4">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Activo" readonly /> @Html.DisplayNameFor(model => model.Activo)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="TotalDeducciones" class="control-label"></label>
                                <input asp-for="TotalDeducciones" class="form-control" type="number" readonly required />
                                <span asp-validation-for="TotalDeducciones" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TotalImpuestos" class="control-label"></label>
                                <input asp-for="TotalImpuestos" class="form-control" type="number" readonly required />
                                <span asp-validation-for="TotalImpuestos" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TotalEmpleadosEnNomina" class="control-label"></label>
                                <input asp-for="TotalEmpleadosEnNomina" class="form-control" type="number" readonly required />
                                <span asp-validation-for="TotalEmpleadosEnNomina" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PagoNeto" class="control-label"></label>
                                <input asp-for="PagoNeto" class="form-control" type="number" readonly required />
                                <span asp-validation-for="PagoNeto" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AprobadaPor" class="control-label"></label>
                                <input asp-for="AprobadaPor" class="form-control" readonly />
                                <span asp-validation-for="AprobadaPor" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ComentariosAprobador" class="control-label"></label>
                                <input asp-for="ComentariosAprobador" class="form-control" readonly />
                                <span asp-validation-for="ComentariosAprobador" class="text-danger"></span>
                            </div>
                          
                        </div>
                               
                               
                    
                </div>
            </div>
             <div class="callout callout-info" style="border-left-color: var(--blue); ">
                    <h5>Otros</h5>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="FechaCreacion" class="control-label"></label>
                                <input type="datetime" asp-for="FechaCreacion" class="form-control" readonly />
                                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="FechaModificacion" class="control-label"></label>
                                <input type="datetime" asp-for="FechaModificacion" class="form-control" readonly />
                                <span asp-validation-for="FechaModificacion" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="CreadoPor" class="control-label"></label>
                                <input asp-for="CreadoPor" class="form-control" readonly />
                                <span asp-validation-for="CreadoPor" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ModificadoPor" class="control-label"></label>
                                <input asp-for="ModificadoPor" class="form-control" readonly />
                                <span asp-validation-for="ModificadoPor" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="card-footer">
            <input type="submit" value="Guardar" class="btn btn-primary" style="background-color: var(--blue);" />
            <a asp-action="Index" class="btn btn-secondary">Regresar a la Lista</a>
         </div>
      </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var estadoNomina = document.querySelector('#EstadoNomina').value;
                toggleReadonlyFields(estadoNomina === 'Aprobada');

                document.querySelector('#EstadoNomina').addEventListener('change', function () {
                    toggleReadonlyFields(this.value === 'Aprobada');
                });

                function toggleReadonlyFields(isApproved) {
                    var fields = [
                        'IdTipoNomina',
                        'Comentarios',
                        'PeriodoFiscal',
                        'Mes',
                        'FechaPago'
                    ];

                    fields.forEach(function (fieldId) {
                        var field = document.querySelector('#' + fieldId);
                        if (isApproved) {
                            if (field.tagName.toLowerCase() === 'select') {
                                field.setAttribute('disabled', 'disabled');
                            } else {
                                field.setAttribute('readonly', 'readonly');
                            }
                        } else {
                            if (field.tagName.toLowerCase() === 'select') {
                                field.removeAttribute('disabled');
                            } else {
                                field.removeAttribute('readonly');
                            }
                        }
                    });
                }
            });
        </script>
    }
}
