@model PlanillaPM.Models.Ubicacion

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="card card-primary ">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Crear Ubicacion</h3>
        </div>
        <form asp-action="Create" class="w-100">

            <div class="card-body">
                <div class="callout callout-info" style="border-left-color: var(--blue);">

                    <h5 class="mx-auto">Información General</h5>
                    <br />
                    <div class="row">

                        <div class="col-md-4">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>                          
                            <div class="form-group">
                                <label asp-for="NombreUbicacion" class="control-label"></label>
                                <input asp-for="NombreUbicacion" class="form-control" required />
                                <span asp-validation-for="NombreUbicacion" class="text-danger"></span>
                            </div>                          
                            <div class="form-group">
                                <label asp-for="Ciudad" class="control-label"></label>
                                <input asp-for="Ciudad" class="form-control" />
                                <span asp-validation-for="Ciudad" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Direccion" class="control-label"></label>
                                <input asp-for="Direccion" class="form-control" />
                                <span asp-validation-for="Direccion" class="text-danger"></span>
                            </div>
                           
                        </div>                      
                </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Telefono" class="control-label"></label>
                                <input asp-for="Telefono" class="form-control" required/>
                                <span asp-validation-for="Telefono" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control"  />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

            </div>

            <div class="card-footer">
                <input type="submit" value="Crear" class="btn btn-primary" style="background-color: var(--blue);" />
                <a onclick="history.back();" class="btn btn-secondary">Regresar a la Lista</a>
            </div>
        </form>

    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            var $table = $('#table');

        </script>
    }
}
