@model PlanillaPM.Models.Cargo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/ckeditor.js"></script>

<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Crear Cargo</h3>
        </div>
         <form asp-action="Create">
        <div class="card-body">
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                <h5>Información General</h5>
                <br/>
                <div class="row">
                        <div class="col-md-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NombreCargo" class="control-label"></label>
                                <input asp-for="NombreCargo" class="form-control" required/>
                                <span asp-validation-for="NombreCargo" class="text-danger"></span>
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <ejs-calendar id="calendar"></ejs-calendar>
                            <label asp-for="DescripcionCargo" asp-for="Contenido" class="control-label"></label>
                            <textarea class="form-control" id="Content" asp-for="DescripcionCargo" rows="5" style="height:200px;"></textarea>
                            <span asp-validation-for="DescripcionCargo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <ejs-calendar id="calendar"></ejs-calendar>
                            <label asp-for="FuncionesCargo" asp-for="Contenido" class="control-label"></label>
                            <textarea class="form-control" id="Content" asp-for="FuncionesCargo" rows="5" style="height:200px;"></textarea>
                            <span asp-validation-for="FuncionesCargo" class="text-danger"></span>
                        </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Crear" class="btn btn-primary" style="background-color: var(--blue);" />
            <a asp-action="Index" class="btn btn-secondary">Regresar a la Lista</a>
         </div>
        </form>
    </div>
</div>
<script>
    ClassicEditor
        .create(document.querySelector('#Content'), {
            // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(err => {
            console.error(err.stack);
        });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
