@model PlanillaPM.Models.EmpleadoImpuesto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Crear Empleado Impuesto</h3>
        </div>
         <form asp-action="Create">
        <div class="card-body">
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                <h5>Información General</h5>
                <br/>
                <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="IdImpuesto" class="control-label"></label>
                                <select asp-for="IdImpuesto" class="form-control select2bs4 is-invalid" asp-items="ViewBag.IdImpuesto">
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdEmpleado" class="control-label"></label>
                                <select asp-for="IdEmpleado" class="form-control select2bs4 is-invalid" asp-items="ViewBag.IdEmpleado">
                                    <option></option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                @* <label asp-for="Orden" class="control-label"></label>
                                <input asp-for="Orden" id="OrdenIngreso" class="form-control" required readonly/>
                                <span asp-validation-for="Orden" class="text-danger"></span> *@
                                <input asp-for="Orden" type="hidden" id="OrdenIngreso" value="@ViewBag.NextOrden" readonly />
                            </div>
                            <div class="form-group form-check form-switch ml-4">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Excento" /> @Html.DisplayNameFor(model => model.Excento)
                                </label>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Crear" class="btn btn-primary" style="background-color: var(--blue);" />
                <a onclick="goBack()" class="btn btn-secondary">Regresar a la Lista</a>
         </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            function goBack() {
                // Obtener la URL actual
                var currentUrl = window.location.href;

                // Verificar si la URL contiene "_index"
                if (currentUrl.includes("_index")) {
                    // Estás en la página _index, puedes hacer algo específico aquí
                    console.log("Estás en la página _index");
                    // Por ejemplo, redirigir a otra página
                    window.location.href = "/otra-pagina";
                } else {
                    // No estás en la página _index, retrocede en la historia
                    history.back();
                }
            }

            $(document).ready(function () {
                $('#IdImpuesto').change(function () {
                    var idImpuesto = $(this).val();
                    if (idImpuesto) {
                        $.ajax({
                            url: '@Url.Action("GetIngresoDetails", "EmpleadoImpuesto")',
                            type: 'GET',
                            data: { id: idImpuesto },
                            success: function (data) {
                                if (data.error) {
                                    alert(data.error);
                                } else {
                                    console.log(data);
                                  
                                    $('#OrdenIngreso').val(data.ordenIngreso);
                                  

                                }
                            },
                            error: function () {
                                alert('Error obteniendo los detalles del ingreso');
                            }
                        });
                    } else {
                        
                        $('#OrdenIngreso').val('');
                        
                    }
                });
            });

            
        </script>
    }
}