@model PlanillaPM.Models.EmpleadoImpuesto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Editar Empleado Impuesto</h3>
        </div>
         <form asp-action="Edit">
        <div class="card-body">
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                <h5>Información General</h5>
                <br/>
                <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdEmpleadoImpuesto" />
                        <input type="hidden" name="numero" value="@ViewBag.Numero" />
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="IdImpuesto" class="control-label"></label>
                                <select asp-for="IdImpuesto" class="form-control select2bs4 is-invalid" asp-items="ViewBag.IdImpuesto"></select>
                                <span asp-validation-for="IdImpuesto" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdEmpleado" class="control-label"></label>
                                <select asp-for="IdEmpleado" class="form-control select2bs4 is-invalid" asp-items="ViewBag.IdEmpleado"></select>
                                <span asp-validation-for="IdEmpleado" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                @*< label asp-for="Orden" class="control-label"></label>
                                <input asp-for="Orden" class="form-control" required />
                                <span asp-validation-for="Orden" class="text-danger"></span> *@
                                <input asp-for="Orden" type="hidden" readonly/>
                            </div>

                            <div class="form-group form-check form-switch ml-4">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Excento" /> @Html.DisplayNameFor(model => model.Excento)
                                </label>
                            </div>
                            <div class="form-group form-check form-switch ml-4">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                                </label>
                            </div>
                        </div>
                               
                    
                </div>
            </div>
             <div class="callout callout-info" style="border-left-color: var(--blue); ">
                    <h5>Otros</h5>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="FechaCreacion" class="control-label"></label>
                                <input type="datetime" asp-for="FechaCreacion" class="form-control" readonly />
                                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="FechaModificacion" class="control-label"></label>
                                <input type="datetime" asp-for="FechaModificacion" class="form-control" readonly />
                                <span asp-validation-for="FechaModificacion" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="CreadoPor" class="control-label"></label>
                                <input asp-for="CreadoPor" class="form-control" readonly />
                                <span asp-validation-for="CreadoPor" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ModificadoPor" class="control-label"></label>
                                <input asp-for="ModificadoPor" class="form-control" readonly />
                                <span asp-validation-for="ModificadoPor" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="card-footer">
            <input type="submit" value="Guardar" class="btn btn-primary" style="background-color: var(--blue);" />
                <a onclick="goBack()" class="btn btn-secondary">Regresar a la Lista</a>
         </div>
      </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            function goBack() {
                // Obtener la URL actual
                var currentUrl = window.location.href;

                // Verificar si la URL contiene "_index"
                if (currentUrl.includes("_index")) {
                    // Estás en la página _index, puedes hacer algo específico aquí
                    console.log("Estás en la página _index");
                    // Por ejemplo, redirigir a otra página
                    window.location.href = "/otra-pagina";
                } else {
                    // No estás en la página _index, retrocede en la historia
                    history.back();
                }
            }
        </script>
    }
}