@model PlanillaPM.Models.ImpuestoTabla


<form asp-controller="ImpuestoTabla" asp-route-bModal="true" asp-action="Create" method="post">
    <input type="hidden" asp-for="IdImpuesto" class="form-control" value="@ViewBag.ImpuestoId" />
    <div class="modal-header">
        <h4 class="modal-title">Crear Nueva Tabla de Impuestos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- Campos para crear ImpuestoTabla -->
        <div class="form-group">
            <label asp-for="Desde" class="control-label"></label>
            <input asp-for="Desde" class="form-control" />
            <span asp-validation-for="Desde" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Hasta" class="control-label"></label>
            <input asp-for="Hasta" class="form-control" />
            <span asp-validation-for="Hasta" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Monto" class="control-label"></label>
            <input asp-for="Monto" class="form-control" />
            <span asp-validation-for="Monto" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Porcentaje" class="control-label"></label>
            <input asp-for="Porcentaje" class="form-control" />
            <span asp-validation-for="Porcentaje" class="text-danger"></span>
        </div>
        <!-- Otros campos de ImpuestoTabla -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button id="btnHideModal" type="submit" class="btn btn-primary" >Crear Nuevo</button>
    </div>
</form>

