@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    font-family: 'Open Sans', sans-serif;
}

.responsive-table {
    overflow: auto;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    white-space: nowrap;
}

    table th {
        background: #BDBDBD;
    }

    table tr:nth-child(odd) {
        background-color: #F2F2F2;
    }

    table tr:nth-child(even) {
        background-color: #E6E6E6;
    }

th, tr, td {
    text-align: center;
    border: 1px solid #E0E0E0;
    padding: 5px;
}

img {
    font-style: italic;
    font-size: 11px;
}

.fa-bars {
    cursor: move;
}
