@using PlanillaPM.Models;
@model IEnumerable<Empleado>

<div class="row m-3">
    <form class="form-inline my-2 my-lg-0">
        <select id="employeeSelect" class="form-control mr-sm-2 select2bs4 btn-outline-success" style="width:300px;"></select>
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cargar</button>
    </form>
</div>

<script>
    $(document).ready(function () {
        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4',
            placeholder: {
                id: '',
                text: 'Seleccionar...'
            },
            allowClear: true
        })

        $.ajax({
            url: '@Url.Action("GetEmpleado", "Empleado")',
            type: 'GET',
            success: function (data) {
                $.each(data, function (i, item) {
                    $('#employeeSelect').append($('<option>', {
                        value: item.idEmpleado,
                        text: item.nombreCompleto
                    }));
                });
            }
        });

    });
</script>