<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - pruebaTemplate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/pruebaTemplate.styles.css" asp-append-version="true" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css'>


    <style>
        input:required,
        textarea:required,
        select:required:invalid {
            border: 1px solid #FF99B2;
        }

        :root {
            --blue: #1797C0;
            --white: #ffffff;
            --colorTable: #818290;
        }

        .table.table-striped.projects > tbody > tr > td {
            border-right: none;
        }

    </style>

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item" id="liMenuDinamico">
                @* <partial name="_MenuDinamico.cshtml" id="PartialMenu" /> *@
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>
            <partial name="_LinksLogin" />
        </ul>
    </nav>

    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color:#2196F3">
        <div class="sidebar">
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Alexander Pierce</a>
                </div>
            </div>

            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item active">
                        <a class="nav-link" onclick="mostrarContenido('Empleado')" asp-controller="Empleado" asp-action="Index">
                            <i class="nav-icon fas fa-th" style="color: var(--GrisMenu);"></i>
                            <p style="color: var(--GrisMenu);">
                                <strong>Empleado</strong>
                                <span class="right badge badge-danger">New</span>
                            </p>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" onclick="mostrarContenido('Perfil')" asp-controller="Usuario" asp-action="PersonalData">
                            <i class="nav-icon fas fa-id-card" style="color: var(--GrisMenu);"></i>
                            <p style="color: var(--GrisMenu);">
                                <strong>Perfil</strong>
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>

            <a href="../../index3.html" class="brand-link">
                <img src="~/img/LogoHorizontal.png" alt="Proyecto Mirador Logo" class="brand-image " style="opacity: .8">
                <br />
                <span class="brand-text font-weight-light"></span>
            </a>
        </div>
    </aside>


</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <br />
            <partial name="Notification" />
            @RenderBody()

        </div>
        <!-- /.content-wrapper -->


        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.2.0
            </div>
            <strong>Copyright &copy; 2014-2021 <a href="">Proyecto Mirador</a>.</strong> Todos los Derechos Reservados.
        </footer>

        <!-- jQuery -->
        <script src="~/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- overlayScrollbars -->
        <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- bs-custom-file-input -->
        <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="~/js/demo.min.js"></script>
        <!-- Select2 -->
        <script src="~/plugins/select2/js/select2.full.min.js"></script>
        <!-- Toastr -->
        <script src="~/plugins/toastr/toastr.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="~/js/demo.js"></script>

        <script>
            $(function () {
                //Initialize Select2 Elements
                $('.select2bs4').select2({
                    theme: 'bootstrap4',
                    placeholder: {
                        id: '',
                        text: 'Seleccionar...'
                    },
                    allowClear: true
                })

                bsCustomFileInput.init();
            })
            $.widget.bridge('uibutton', $.ui.button)

            // // Variable para almacenar el menú actual
            // var menuActual = 'Perfil';

            // // Función para mostrar el menú seleccionado
            // function mostrarContenido(opcion) {
            //     // Ocultar todos los divs
            //     $("#menuPerfil, #menuEmpleado").hide();

            //     // Mostrar el div correspondiente a la opción seleccionada
            //     if (opcion === 'Perfil') {
            //         $("#menuPerfil").show();
            //     } else if (opcion === 'Empleado') {
            //         $("#menuEmpleado").show();
            //     }

            //     // Actualizar la variable del menú actual
            //     menuActual = opcion;
            // }


            // // Use window.onload para asegurar que todos los recursos estén cargados
            // window.onload = function () {
            //     // Mostrar el menú inicial después de que todo esté cargado
            //     mostrarContenido(menuPerfil);
            // };



        </script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <!-- FUNCIONALIDADES DEL DATATABLE -->
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
        <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/export/bootstrap-table-export.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

        @await RenderSectionAsync("Scripts", required: false)

    </div>

</body>
</html>

